.home{
    background-image:url('../../assets/home/background-home-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;    
    padding-top: 112px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}
.home_box{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.home_header{
    font-size: 16px;
    font-weight: 400;
    color: #D0D6F9;
    letter-spacing: 2.7px;
    margin-bottom: 20px;
}
.title{
    font-size: 80px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.paragraph{
    font-size: 15px;
    font-weight: 400;
    color: #D0D6F9;
    width: 85%;
    text-align: center;
    line-height: 25px;
    margin-bottom: 80px;
}
.homeButton{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(11, 13, 23, 1);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.25px;
    position: relative;
}

@media (min-width:768px) {
    .home{
        background-image:url('../../assets/home/background-home-tablet.jpg');
        padding-top: 150px;
    } 
    .home_header{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .title{
        font-size: 150px;
        color: #FFFFFF;
    }
    .paragraph{
        font-size: 16px;
        width: 60%;
        line-height: 28px;
        margin-bottom: 130px;
    }
    .homeButton{
        width: 242px;
        height: 242px;
        font-size: 32px;
        letter-spacing: 2px;
    }
}
@media (min-width:1440px) {
    .home{
        background-image:url('../../assets/home/background-home-desktop.jpg');
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: row;
        padding-bottom: 130px;
        gap: 390px;
    } 
    .home_box{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        width: 32%;
        padding-bottom: 0px;
    }
    .home_header{
        font-size: 28px;
        margin-bottom: 24px;
    }
    .title{
        font-size: 150px;
        color: #FFFFFF;
        margin-bottom: 24px;
    }
    .paragraph{
        font-size: 18px;
        width: 96.5%;
        line-height: 28px;
        margin-bottom: 0px;
        text-align: left;
    }
    .homeButton{
        width: 274px;
        height: 274px;
        font-size: 32px;
        letter-spacing: 2px;
        position: relative;
        transition: all 0.5s ease-out;
    }
    .homeButton:hover {
        transform: scale(1.1);
      }
    
      .homeButton:hover::after{
        content: '';
        cursor: pointer;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 450px;
        height: 450px;
        border-radius: 50%;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.1);
        transition: all 0.5s ease-out;
    }

}