.destination {
  background-image: url("../../assets/destination/background-destination-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 90px;
}

.destination_header {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 32px;
}
.des_title {
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2.7px;
}
.des_span {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.25);
  letter-spacing: 2.7px;
}
.desktop_container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.menu_container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.menu {
  display: flex;
  gap: 27px;
  margin-top: 30px;
  margin-bottom: 31px;
}
.planets {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 14px;
  letter-spacing: 2.3px;
  font-weight: 400;
  color: rgba(208, 214, 249, 1);
  text-align: center;
}
.clickedPlanet {
  font-family: "Barlow Condensed", sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 2.3px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  padding-bottom: 8px;
  position: relative;
  transition: all 0.3s ease;
  z-index: 0;
}
.clickedPlanet::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 36px;
  height: 3px;
  background-color: #ffffff;
  transition: all 0.3s ease;
  z-index: -1;
}

.planetName {
  font-size: 56px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: 400;
}
.destination_paragraph {
  font-size: 15px;
  font-weight: 400;
  color: #d0d6f9;
  width: 85%;
  text-align: center;
  line-height: 25px;
  margin-bottom: 32px;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-bottom: 60px;
  border-top: 1px solid #383b4b;
  padding-top: 32px;
  width: 85%;
}
.footerdivs {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.text {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2.5px;
  color: #d0d6f9;
  text-transform: uppercase;
}
.numbers {
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}
.destination_tablet {
  display: none;
}
.desktop_planet {
  display: none;
}
@media (min-width: 768px) {
  .destination_tablet {
    display: block;
  }
  .destination {
    background-image: url("../../assets/destination/background-destination-tablet.jpg");
    padding-top: 136px;
  }
  .destination_header {
    display: flex;
    align-items: center;
    gap: 18px;
    width: 90%;
    margin-bottom: 60px;
  }
  .des_title {
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 3.4px;
  }
  .des_span {
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.25);
    letter-spacing: 3.4px;
  }

  .menu {
    display: flex;
    gap: 35px;
    margin-top: 53px;
    margin-bottom: 50px;
  }
  .planets {
    font-size: 16px;
    letter-spacing: 2.7px;
  }
  .clickedPlanet {
    font-size: 16px;
    letter-spacing: 2.7px;
  }
  .clickedPlanet::after {
    width: 41px;
  }
  .planetName {
    font-size: 80px;
  }
  .destination_paragraph {
    font-size: 16px;
    width: 74.514%;
    line-height: 28px;
    margin-bottom: 50px;
  }
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 9%;
    margin-bottom: 60px;
    border-top: 1px solid #383b4b;
    padding-top: 28px;
  }
  .clickedPlanet {
    padding-bottom: 12px;
  }
}

@media (min-width: 1440px) {

  .destination {
    background-image: url("../../assets/destination/background-destination-desktop.jpg");
    padding-top: 200px;
  
  }
  .destination_tablet {
    display: none;
  }
  .desktop_planet {
    display: block;
  }
  .menu_container {
    display: flex;
    align-items: flex-start;
    width: 445px;
  }
  .des_title {
    font-size: 28px;
    letter-spacing: 4.7px;
  }
  .des_span{
    font-size: 28px;
    letter-spacing: 3.4px;
  }
  .desktop_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 10%;
  }
  .menu {
    display: flex;
    gap: 27px;
    margin-top: 0px;
    margin-bottom: 40px;
  }

  .planetName {
    font-size: 100px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-weight: 400;
  }
  .destination_paragraph {
    font-size: 18px;
    font-weight: 400;
    color: #d0d6f9;
    width: 100%;
    text-align: left;
    line-height: 32px;
    margin-bottom: 54px;
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10%;
    margin-bottom: 0px;
    border-top: 1px solid #383b4b;
    padding-top: 32px;
    width: 80%;
  }
  .footerdivs {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    gap: 15px;
  }
  
  .clickedPlanet {
    font-size: 16px;
    letter-spacing: 2.7px;
    padding-bottom: 12px;
    position: relative;
  
  }
  .planets {
    font-size: 16px;
    letter-spacing: 2.7px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .planets:hover {
    transform: scale(1.2);
    transition: all 0.3s ease;
  }
  .planets:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 36px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease;
    z-index: -1;
  }
}
