.crew {
  background-image: url("../../assets/crew/background-crew-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 90px;
}

.crew_header {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 32px;
}
.crew_title {
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2.7px;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.17);
}
.clickedCircle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
}
.crew_menu {
  width: 85%;
  padding-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(56, 59, 75, 1);
  gap: 17px;
  margin-bottom: 32px;
}

.role {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
}
.name {
  font-size: 24px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  margin-bottom: 16px;
}

.paragraph {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  color: rgba(208, 214, 249, 1);
  width: 83%;
}
