@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap");
.Condensed{
    font-family: 'Barlow Condensed', sans-serif;
}

.Bellefair{
    font-family: 'Bellefair', serif;

}
.Barlow{
    font-family: 'Barlow', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}
#root {
  height: 100vh;
}
